%btn {
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

.delete-btn {
    @extend %btn;
    width: 36px;
    height: 36px;
    color: $danger;
    border-radius: 3px;
}

.edit-btn {
    @extend %btn;
    width: 36px;
    height: 36px;
    color: $primary-color;
    border-radius: 3px;
}

.update-btn {
    @extend %btn;
    @include set-background($primary-color);
    padding: 0.8rem 1rem;
    font-weight: bold;
    border-radius: 3px;
}

.close-btn {
    @extend %btn;
    padding: 0.8rem 1rem;
    font-weight: bold;
    border-radius: 3px;
}