//Colors
$primary-color: #f5ba13;
$secondary-color: #eee;
$white: #fff;
$shadow: #0000004d;
$danger: #FA5656;

//Fonts
$font-stack: "Montserrat", sans-serif;

//Spacing
$margin-X: 16px;
$margin-Y: 32px;
