%Form {
    background: $white;
    height: 100%;

    input,
    textarea {
        width: 100%;
        border: none;
        padding: 4px;
        outline: none;
        font-size: 1.2rem;
        font-family: inherit;
        resize: none;
        background-color: inherit;
    }

    button {
        @extend %btn;
    }
}

form {
    &.create-note {
        @extend %Form;
        position: relative;
        width: 480px;
        margin: 30px auto 20px;
        padding: 15px;
        border-radius: 7px;
        box-shadow: 0 1px 5px $shadow;

        button {
            @include set-background($primary-color);
            position: absolute;
            right: 18px;
            bottom: -18px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            box-shadow: 0 1px 3px $shadow;
        }
    }
}

.modal{
    form {
            @extend %Form;
            background-color: inherit;
            display: flex;
            flex-direction: column;
    
            input {
                font-weight: 700;
            }
    
            textarea {
                height: 70%;
            }
        }
}